/* FONTS */
@font-face {
    font-family: 'NotCourier';
    src: url('fonts/notcouriersans-webfont.eot');
    src: url('fonts/notcouriersans-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/notcouriersans-webfont.woff') format('woff'),
         url('fonts/notcouriersans-webfont.ttf') format('truetype'),
         url('fonts/notcouriersans-webfont.svg#notcouriersansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Reglo';
    src: url('fonts/reglo-bold-webfont.eot');
    src: url('fonts/reglo-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/reglo-bold-webfont.woff') format('woff'),
         url('fonts/reglo-bold-webfont.ttf') format('truetype'),
         url('fonts/reglo-bold-webfont.svg#notcouriersansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bagnard Sans';
    src: url('fonts/bagnardsans-webfont.eot');
    src: url('fonts/bagnardsans-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bagnardsans-webfont.woff') format('woff'),
         url('fonts/bagnardsans-webfont.ttf') format('truetype'),
         url('fonts/bagnardsans-webfont.svg#notcouriersansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bagnard Sans';
    src: url('fonts/bagnardsans-webfont.eot');
    src: url('fonts/bagnardsans-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bagnardsans-webfont.woff') format('woff'),
         url('fonts/bagnardsans-webfont.ttf') format('truetype'),
         url('fonts/bagnardsans-webfont.svg#notcouriersansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Reglo Carson';
    src: url('fonts/reglo-carson-webfont.eot');
    src: url('fonts/reglo-carson-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/reglo-carson-webfont.woff') format('woff'),
         url('fonts/reglo-carson-webfont.ttf') format('truetype'),
         url('fonts/reglo-carson-webfont.svg#notcouriersansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Reglo more';
    src: url('fonts/reglo-bold-more-webfont.eot');
    src: url('fonts/reglo-bold-more-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/reglo-bold-more-webfont.woff') format('woff'),
         url('fonts/reglo-bold-more-webfont.ttf') format('truetype'),
         url('fonts/reglo-bold-more-webfont.svg#notcouriersansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Fixes the initial browser’s style */
* {
    margin: 0;
    padding: 0;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
img {
    width: 100%;
}
body {
    background-color: rgb(0, 126, 97);
    font-family: "NotCourier";
}
.case {
    display: block;
    border: 1px solid black;
    float: left;
    background-color: white;
}
.empty {
    background-image: url("images/empty.png");
    background-repeat: no-repeat;
    background-position: center bottom;
}
.title {
    width: 100%;
    min-height: 30px;
    border-bottom: 2px solid black;
    text-align: center;
    padding-top: 3px;
    display: block;
    background-color: white;
    overflow: hidden;
    text-transform: uppercase;
}
.lowercase {
    text-transform: none;
}
.more-info {
    display: none;
    text-transform: none;
    font-size: 14px;
}
.title:hover .more-info {
    display: block;
    position: absolute;
    bottom: 1px;
    right: 1px;
    background-color: white;
    border: 1px solid black;
}
.content {
    font-size: 14px;
    padding: 10px;
    overflow: hidden;
    height: 95%;
}
.glyph {
    font-size: 90px; 
    text-align: center;
    padding-top: 5px;
}
table {
    margin-bottom: 20px;
}
td {
    min-width: 60px;
    border-bottom: 1px solid black;
    padding-top: 5px;
    padding-bottom: 8px;
}
tr {
    border-bottom: 1px solid black;
}

.one-wide {
    width: 100px;
}
.two-wide {
    width: 200px;
}
.three-wide {
    width: 300px;
}
.four-wide {
    width: 400px;
}
.five-wide {
    width: 500px;
}
.six-wide {
    width: 600px;
}
.seven-wide {
    width: 700px;
}
.eight-wide {
    width: 800px;
}
.one-high {
    height: 150px;
}
.two-high {
    height: 300px;
}
.three-high {
    height: 450px;
}
.four-high {
    height: 600px;
}
.six-high {
    height: 900px;
}
.seven-high {
    height: 1050px;
}

/*only on the screen*/
@media screen {
    .print-only {
        display:none;
    }
    /*add more screen style specifications here*/
}

/* only in print */
@media print {
    .screen-only {
        display:none;
    }
    /*add more print style specifications here*/
}

/* RESPONSIVE */
@media screen and (max-width: 480px) {
  /*add more screen style specifications here*/
}
@media screen and (max-width: 480px) {
  /*add more screen style specifications here*/
}

/* slideshow */
.hidden {
    display: none;
}
.gallery {
}
.image-gallery img {
    max-height: 480px;
    width: auto;
    display: block;
    margin: auto;
}
.gallery-buttons {
    position: absolute;
    bottom: 20px;
    cursor: pointer;
    left: 165px;
}
.gallery-buttons .previous {
    float: left;
    margin-right: 30px;
}
.gallery-buttons .next {
    float: left;
    margin-right: 10px;
}
